// SETUP

// Colors
$white:   #FFF;
$text:    #333;
$black:   #000;

// Typography
$sans-serif-stack:  'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-text-align:   left;
$base-line-height:  1.5;
$base-font-size:    16px;

$type-sz-1:         32px;
