@import "_setup";

html, body {
  width: 100%;
  height: 100%;
  background: $bkg;
  color: $white;
}
body {
  background: linear-gradient(230deg, $bkg, $bkg-2, $bkg-3);
  background-size: 600% 600%;
  @include animation(bkgAnimate 60s ease infinite);
}
@include keyframes(bkgAnimate) {
  0%{background-position:0% 84%}
  50%{background-position:100% 17%}
  100%{background-position:0% 84%}
}
