@import "_setup";

// Typography

// Base
body, input, textarea, button {
  font-family: $base-font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: $base-text-align;
}

// Headings
h1 {
  font-size: $type-sz-1;
}

// Links
a {
  border-bottom: 2px solid $white;
  color: $white;
  text-decoration: none;
}
