@import "_setup";

// Typography

// Base
body, input, textarea, button {
  font-family: $sans-serif-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// Headings
h1 {
  font-size: $type-sz-1;
}

// Links
a {
  text-decoration: none;
}
