---
title: Welcome
---

<!-- Game component template -->
<script type="text/x-template" id="game-template">
  <div class="dialog">
    <h1>{{ stepData.text }}</h1>
  </div>
  <ul class="actions">
    <li v-for="action in stepData.actions">
      <a href="#" v-on:click="goToStep(this, action.stepId)">
        &gt; {{action.text}} (to {{ action.stepId }})
      </a>
    </li>
  </ul>
</script>

<!-- Game root element -->
<div id="game" class="game">
  <game v-bind:data="storyData" v-bind:step="currentStep"></game>
</div>
