---
title: Welcome
---

<!-- Game component template -->
<script type="text/x-template" id="game-template">
  <h1>{{ stepData.text }}</h1>
  <ul>
    <li v-for="action in stepData.actions">
      <a href="#" v-on:click="goToStep(this, action.stepId)">
        {{action.text}} (to {{ action.stepId }})
      </a>
    </li>
  </ul>
</script>

<!-- Game root element -->
<div id="game">
  <game v-bind:data="storyData" v-bind:step="currentStep"></game>
</div>
