---
title: Welcome
---

<!-- Game root element -->
<div id="app">
  <game :data="storyData" :step="currentStep"></game>
</div>

<!-- Game component template -->
<script type="text/x-template" id="game-template">
  <div class="game">
    <div class="dialog">
      <h1>{{ stepData.text }}</h1>
    </div>
    <ul class="actions">
      <li v-for="action in stepData.actions">
        <a href="#" @click.prevent="goToStep(action.stepId)">
          &gt; {{action.text}}
        </a>
      </li>
    </ul>
  </div>
</script>
